{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "babel-preset-solid",
    "@babel/preset-typescript"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "babel-preset-vite",
          {
            "env": true,
            "glob": false
          }
        ],
      ]
    }
  }
}