{
  "*.{html,css}": [
    "prettier --write"
  ],
  "src/**/*.!(test).{ts,tsx}": [
    "prettier --write",
    "pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache",
    "tsc-files --noEmit"
  ]
}
